html {
    background-color: darkgrey
}

body {
    text-align: center;
}

img {
width: 350px;
height: 350px;
margin: 10px;
}

body section li {
color: rgb(52, 16, 151);
}

h1 {
text-align: center;
}
